@font-face {
  font-family: "Avenir-Light";
  src: url(../font/Avenir-Light.ttf);
}
@font-face {
  font-family: "Avenir-Black";
  src: url(../font/Avenir-Black.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #040714;
  color: white;
  height: 115vh;
}

nav {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.856);
  padding: 0 36px;
}

nav ul {
  display: flex;
  align-items: center;

  list-style: none;
  margin: 8px;
  margin-left: 20px;
}

.logo {
  width: 25%;
}

a {
  text-decoration: none;
}

span {
  color: white;
}

.btn {
  border: 1px solid gainsboro;
  height: 50px;
  width: 190px;
  margin-left: 1%;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  font-family: "Avenir-Light", sans-serif;
  font-size: 18px;
}

.suscribe {
  margin-left: auto;
  background-color: #0063e5;
  border: none;
}

.tlogin {
  color: white;
}

.suscribe:hover {
  background-color: #026efa;
}

.login:hover {
  background-color: #f9f9f9;
}

.login:hover .tlogin {
  color: #13151d;
}

.spacer {
  height: 50px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ancho {
  width: 40%;
  margin: 1%;
}

.devices {
  width: 100%;
}

.title {
  font-family: "Avenir-Black", sans-serif;
  font-size: 38px;
  margin-bottom: 5%;
}

.para {
  font-family: "Avenir-Light", sans-serif;
  font-size: 22px;
  color: silver;
  letter-spacing: 0.2px;
  line-height: 30px;
}

@media only screen and (max-width: 1024px) {
  .ancho {
    width: 45%;
  }

  .title {
    font-size: 30px;
  }

  .para {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .ancho {
    width: 49%;
  }

  nav {
    padding: 0;
  }

  .btn {
    height: 40px;
    font-size: 15px;
    line-height: 40px;
  }

  .title {
    font-size: 25px;
  }

  .para {
    font-size: 15px;
  }
}

@media only screen and (max-width: 540px) {
  .ancho {
    width: 90%;
  }

  .logo {
    width: 40px;
  }

  .btn {
    width: 100px;
    height: 40px;
    /* font-size: 15px; */
    line-height: 18px;
  }
  /* 
  .suscribe {
    margin-left: auto;
  } */

  .main {
    flex-direction: column-reverse;
    text-align: center;
  }

  .title {
    font-size: 25px;
  }

  .para {
    font-size: 15px;
  }
}
