@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap");

* {
  margin: 2%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  color: #0a2ff1;
}

h1 {
  font-weight: 900;
  font-size: 80px;
  color: #0a2ff1;
}

p {
  font-weight: 400;
  font-size: 26.66px;
  color: #04146c;
}

strong {
  margin-left: 0;
  margin-right: 0;
}

button {
  width: 400px;
  height: 70px;
  font-weight: 700;
  font-size: 29.33px;
  color: white;
  background-color: #0a2ff1;
  border: 1px solid #04146c;
}
