@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #0a2ff1;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  padding-left: 50px;
}

h1 {
  color: #0a2ff1;
  font-weight: 700;
  font-size: 78px;
}

strong {
  background-color: #3ffff3;
}

ul {
  list-style: none;
  padding: 0;
}

div {
  width: 405px;
  height: 640px;
  background-image: url(https://lh5.googleusercontent.com/Lp_Oaoapd57aVO2CtXTFYGoRMgOiusT207hKG0Qt26GZ-9-BP7WyvXuVK2MDwk4cnLQZwWNQQpD8hCn2xyaH=w1321-h683);
}

img {
  width: 400px;
  height: auto;
}
