@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 24px;
  color: #04146c;
}

nav {
  /* width: 30%; */
  margin-left: 5%;
  height: 100px;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

nav div {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}

#logo {
  width: 5%;
}

nav a {
  color: #04146c;
  text-decoration: none;
}

nav a:hover {
  color: #3957f1;
  text-decoration: underline;
}

.activo {
  font-weight: 700;
}

header {
  height: 20px;
  background-color: #3957f1;
}

main {
  text-align: center;
}

main section h1 {
  font-family: "Roboto Slab", serif;
  font-size: 96px;
  margin: 0;
  margin-top: 50px;
  color: #0a2ff1;
  font-weight: 700;
}

main section p {
  font-size: 34.66px;
}

#rocket {
  height: 500px;
  background-image: url(../img/M5-Desafío1-img.png);
  background-size: cover;
}
