@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.container {
  width: 100%;
}
video {
  position: absolute;
  z-index: -1;
}

.flex {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 99vw;
  height: 90vh;
  justify-content: center;
}

h1,
input {
  text-align: center;
  margin: 2%;
}

h1 {
  color: white;
  font-weight: 900;
  font-size: 55px;
  text-shadow: 2px 2px 2px black;
}
input {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid gainsboro;
  font-size: 20px;
}
