@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
}

header {
  padding: 8px;
  background: #0a2ff1;
}

footer {
  padding: 20px;
  background: #0a2ff1;
}

.fecha {
  font-size: 22px;
  color: #0a2ff1;
}

.black {
  background-color: black;
  color: white;
  font-size: 55px;
}

.friday {
  font-size: 35px;
}

.desc {
  background-color: white;
  color: #0a2ff1;
  font-weight: 100;
  font-size: 18px;
}
.fifty {
  background-color: black;
  color: white;
}

.note {
  font-weight: 100;
  font-size: 22px;
  color: #0a2ff1;
}
