@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

@font-face {
  font-family: "CoolveticaRegular";
  src: url(../font/coolvetica_rg.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

div {
  width: 21%;
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #eff2ff;

  align-content: center;
  /* height: 25em; */
  border-radius: 8%;
}

h1 {
  font-family: "CoolveticaRegular", sans-serif;
  color: #0a2ff1;
  font-weight: 400;
  font-size: 120px;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 1.5%;
}

img {
  width: 25%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 15%;
}

#apple {
  width: 18%;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #0a2ff1;
  font-size: 30px;
  margin-bottom: 3%;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 3%;
}
