@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1,
h4,
button {
  margin-top: 15px;
  margin-bottom: 15px;
}

@font-face {
  font-family: "CoolveticaRegular";
  src: url(../font/coolvetica_rg.otf);
}

@font-face {
  font-family: "RobotoLight";
  src: url(../font/Roboto-Light.ttf);
}

h1 {
  font-family: "CoolveticaRegular", sans-serif;
  color: #0a2ff1;
  font-weight: 400;
  font-size: 50px;
}

h4 {
  font-family: "RobotoLight", sans-serif;
  color: #04146c;
  font-size: 18px;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  height: 40px;
  padding-left: 5%;
  padding-right: 5%;
  border: solid 3px #0a2ff1;
  margin-bottom: 5px;
}

.buttonA {
  color: white;
  background-color: #0a2ff1;
}

.buttonB {
  background-color: white;
  color: #0a2ff1;
}
