@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:wght@400;700&family=PT+Serif+Caption&display=swap");

/* Trabajamos el Nav y sus elementos */
nav {
  display: flex;
  font-family: "PT Mono", monospace;
}

a {
  text-decoration: none;
  color: #04146c;
}

#derecha {
  margin-left: auto;
  font-weight: bold;
  color: #0a2ff1;
}

a:nth-child(1)::after,
a:nth-child(2)::after {
  content: "/";
}

a:hover {
  background-color: aquamarine;
  color: black;
}
/* /nav */

/* h1 y p principales */
h1 {
  font-family: "PT Serif Caption", serif;
  color: #0a2ff1;
}

p {
  font-family: "PT Sans", sans-serif;
  color: #04146c;
}
/* /h1 /p */

/* Las listas y sus items */
h2 {
  font-family: "PT Sans", sans-serif;
  color: #04146c;
}

ul {
  padding-left: 2rem;
  list-style-type: none;
}

ul li {
  font-family: "PT Sans", sans-serif;
  color: #04146c;
  padding-left: 2rem;
  background-position: 0 0;
  background-size: 1.2rem 1.2rem;
  background-repeat: no-repeat;
  margin-bottom: 1%;
}

ul:first-of-type li:nth-child(2) {
  background-image: url(../img/foto.svg);
}

ul:first-of-type li:nth-child(1) {
  background-image: url(../img/vector.svg);
}

ul:nth-of-type(2) li:nth-child(1) {
  background-image: url(../img/licencia.svg);
}

ul:nth-of-type(2) li:nth-child(2) {
  background-image: url(../img/precio.svg);
}
/* /ul */
