@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* General */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 24px;
  color: #04146c;
}

/* Header */
header {
  height: 20px;
  background-color: #3957f1;
}

/* Navegación */
nav {
  margin-left: 5%;
  height: 100px;
  display: flex;
  align-items: center;
}

nav div {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}

#logo {
  width: 5%;
}

nav a {
  color: #04146c;
  text-decoration: none;
}

nav a:hover {
  color: #3957f1;
  text-decoration: underline;
}

.activo {
  font-weight: 700;
}

/* Presentacion */
#presentacion {
  text-align: center;
}

main section h1 {
  font-family: "Roboto Slab", serif;
  font-size: 96px;
  margin: 0;
  margin-top: 50px;
  color: #0a2ff1;
  font-weight: 700;
}

main section p {
  font-size: 34.66px;
}

#rocket {
  height: 500px;
  background-image: url(../img/M5-Desafío1-img.png);
  background-size: cover;
}

/* Informacion */
div {
  width: 60%;
  margin-left: 5%;
}
#texto {
  height: auto;
  background-image: url(../img/M5-Desafio3-img-r.png);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding-bottom: 15px;
}
h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 45.33px;
  color: #0a2ff1;
}
main section div p {
  margin: 0;
  margin-top: 15px;
  text-shadow: 1px 1px 2px white;
}

/* Footer */
footer {
  height: 120px;
  background-color: #3957f1;
  /* display: flex;
  align-items: center; */
}

footer a img {
  margin-top: 2%;
  margin-left: 5%;
  height: 80px;
}
